In [102]:
import pandas as pd
import numpy as np

In [103]:
import matplotlib.pyplot as plt
%matplotlib inline

In [104]:
data = pd.read_csv('D:\\Leon Projects\Python\\Postroenie Vivodov po dannim\\Week1\\task1\\water.txt',header=0,sep='\t')

In [105]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [139]:
def pred(data,to_print='Answer'):
    ans = _tconfint_generic(data.mean(), 
                  data.std(ddof=1) / np.sqrt(len(data)), 
                  len(data) - 1, 0.05, 'two-sided')
    print to_print,ans

In [140]:
pred(data['mortality'],'All mortality')

All mortality (1476.0833413552848, 1572.2117406119285)

In [126]:
pred(data.loc[data.location == 'South','mortality'], 'Mortality South')

Mortality South (1320.1517462936238, 1433.463638321761)

In [125]:
pred(data.loc[data.location == 'North','mortality'],'Mortality North')

Mortality North (1586.5605251961385, 1680.6394748038613)

In [127]:
pred(data.loc[data.location == 'South','hardness'],'Hardness South')

Hardness South (53.467198692036106, 86.071262846425441)

In [128]:
pred(data.loc[data.location == 'North','hardness'],'Hardness North')

Hardness North (21.422487285724259, 39.377512714275738)

### 6 Задание

In [141]:
z = stats.norm.ppf(1 - 0.05/2)
print z

1.95996398454

In [142]:
(z / 0.1) ** 2

384.14588206941244