In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("illiteracy.txt", delimiter="\t")
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [6]:
data[['Illit', 'Births']].corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [7]:
data[['Illit', 'Births']].corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [38]:
data = pd.read_csv("water_1.txt", delimiter="\t")
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [39]:
data.shape

(61, 4)

In [40]:
data[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [41]:
data[['mortality', 'hardness']].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [42]:
south = data[data.location == 'South']
north = data[data.location == 'North']
south[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [13]:
north[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [14]:
import math

In [19]:
a = 718.0
b = 203.0
c = 515.0
d = 239.0
mcc = (a*d - b*c)/math.sqrt((a+b)*(a+c)*(b+d)*(c+d))
mcc

0.10900237458678963

In [17]:
from scipy import stats
import numpy as np

In [21]:
stats.chi2_contingency(np.array([[a, b], [c, d]]))

(19.407530788543038,
 1.0558987006638725e-05,
 1L,
 array([[ 677.96597015,  243.03402985],
        [ 555.03402985,  198.96597015]]))

In [45]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [46]:
mens = [0]*515 + [1]*239
womens = [0]*718 + [1]*203
proportions_confint_diff_ind(mens, womens)

(0.053905233215813156, 0.13922183141523897)

In [30]:
stats.ttest_ind(mens, womens)

Ttest_indResult(statistic=4.4851752624634438, pvalue=7.7813933614254305e-06)

In [31]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [34]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [35]:
proportions_diff_z_test(proportions_diff_z_stat_ind(mens, womens))

8.1534530895766011e-06

In [36]:
table = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
stats.chi2_contingency(table)

(293.68311039689746,
 2.4964299580093467e-62,
 4L,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [37]:
n = sum([sum(x) for x in table])
phi_cramera = np.sqrt(293.68311039689746 / (n * 2))
phi_cramera

0.2412013934500338